/* ................................................. global ........................................... */
:root {
  --indigo_700_14: #47478a14;
  --blue_gray_50: #ececf1;
  --blue_gray_900_a2: #1c1e53a2;
  --white_A700_99: #ffffff99;
  --black_900: #000000;
  --white_A700_ab: #ffffffab;
  --gray_100_99: #f2efff99;
  --blue_gray_900_02: #232536;
  --white_A700_19: #ffffff19;
  --blue_gray_900_01: #1c1e53;
  --blue_gray_900: #282938;
  --deep_purple_A700: #2405f2;
  --gray_600: #818181;
  --gray_700: #646464;
  --lime_700: #c8971b;
  --blue_gray_300: #9197b3;
  --gray_800: #4f4f4f;
  --amber_200: #fcd980;
  --blue_gray_900_7e: #2829387e;
  --gray_100: #eef4fa;
  --gray_100_02: #f4f6fc;
  --deep_purple_A700_66: #2405f266;
  --blue_gray_900_90: #28293890;
  --gray_100_87: #f4f6fc87;
  --gray_100_01: #f5f5f5;
  --blue_gray_900_a2_01: #282938a2;
  --blue_gray_900_99: #1c1e5399;
  --blue_gray_900_99_01: #28293899;
  --white_A700: #ffffff;
}

body {
  margin: 0px;
  overflow-x: hidden;
  /* font-family: 'Racing Sans One'; */
  font-family: 'Poppins', sans-serif;
}

/* local */
.form-check-input:checked {
  background-color: #FCD980;
  border-color: #c0cde0;
}

.link {
  text-decoration: none !important;
  color: unset;
}

/* Customize scrollbar appearance */
::-webkit-scrollbar {
  width: 5px; /* Width of scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color:#1C1E53; 
}

.whatsapp-icon {
  position: fixed;
  bottom: 60px;
  right: 30px;
  border-radius:50px;
  
}



/************************************************************** Auth ******************************************************/

.inputfield {

  height: 60px;
  width: 450px;
  background-color: var(--blue_gray_900_01);
  outline: none;
  color: var(--white_A700);
  display: block;
  text-indent: 17px;
  padding: 10px;
  margin-bottom: 25px;
  border: 2px solid var(--white_A700_19);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.inputfield::placeholder {
  color: var(--gray_100_87);
  font-size: 20px;
  text-indent: 17px;
}

.btn-access {
  height: 65px;
  width: 450px;
  background-color: var(--amber_200);
  outline: none;
  color: var(--blue_gray_900);
  display: block;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 25px;
  border: 2px solid var(--white_A700_19);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.input-wrapper {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
}

.password-toggle-icon:hover {
  color: var(--amber_200);
}

/* **************************************************************** Dropdowns ********************************************** */

.auth-dropdown {
  position: relative;
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: hsl(238, 50%, 22%);
  outline: none;
  display: block;
  padding-top: 20px;
  padding-left: 25px;
  margin-bottom: 25px;
  border: 2px solid var(--white_A700_19);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.auth.dropdown .dropdown-btn {
  cursor: pointer;
  /* overflow: scroll; */
  color: var(--white_A700);
  background-color: #1c1e53;
}

.auth-dropdown-content div {
  margin-top: 5px;
  color: #28293c;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 10000000;
}

.auth-dropdown-content .item:hover {
  background-color: var(--amber_200);
}

.auth-dropdown-content {
  z-index: 10000000;
  padding: 5px;
  max-height:130px;
  overflow-y:auto;
  font-weight: 500;
  background-color: var(--gray_100_87);
  border: 2px solid var(--white_A700_19);
  border-radius: 5px;
  margin-left: -20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* ...................................................... navbar ............................................................. */

.navbar {
  background-color: var(--blue_gray_900_01);
  width: 100%;
  z-index: 10000;
}

.navbar .link {
  font-family: 'Poppins';
  color: var(--white_A700);
  font-size: 16px;
  white-space: nowrap;
}

.navbar .link:hover {
  color: var(--amber_200);
}

.btn-navbar {
  background-color: var(--blue_gray_900_01);
  border-color: var(--white_A700);
  height: 50px;
  border-radius: 3px;
  width: 140px;
  color: white;
  font-family: Poppins;
  font-size: 16px;
}

.btn-navbar:hover {
  background-color: var(--amber_200);
  color: var(--blue_gray_900_01);
  font-weight: bold;
  font-size: larger;
}

/* .............................................. homepage banner....................................................*/

.homePage-Banner {
  background-color: var(--blue_gray_900_01);
  color: var(--white_A700);
  padding: 20px;
  border-top: 2px var(--white_A700) solid;
  /* direction: rtl; */

}

.homePage-Banner img {
  border-radius: 60px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
}

.homePage-Banner .txt-1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  white-space: wrap;
  line-height: 180%;
  letter-spacing: 0.09em;
  margin-top: 8px;
}

.homePage-Banner .txt-2 {
  font-family: 'Poppins';
  font-style: light;
  font-weight: 200;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  /* direction: rtl; */
}

.homePage-Banner .btn-banner {
  width: 180px;
  background-color: var(--amber_200);
  outline: none;
  color: var(--blue_gray_900);
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 25px;
  border: 2px solid var(--white_A700_19);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* ..............................................HomePage....................................................*/

.homepage-goal {
  height: fit-content;
  width: auto;
  margin-bottom: 50px;
  line-height: 28px;
  color: var(--blue_gray_900);
  background-color: var(--gray_100_02);
  font-family: 'Poppins';
  font-style: lighter;
  font-size: 16px;
  padding: 28px;
  color: var(--blue_gray_900);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

[data-bs-theme='dark'] .carousel .carousel-indicators [data-bs-target],
[data-bs-theme='dark'].carousel .carousel-indicators [data-bs-target] {
  background-color: #2405f2;
  width: 10px;
  border-radius: 50%;
  height: 10px;
}

.carousel-indicators {
  position: absolute;
  top: 252px;
  left: 700px;
  bottom: 19px;
  z-index: 2;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
}

.styles_faq-row-wrapper__3vA1D
  .styles_row-body__1NvUo
  .styles_faq-row__2YF3c
  .styles_row-title__1YiiY
  .styles_icon-wrapper__2cftw {
  width: 70px;
  height: 70px;
  margin: 0;
  padding: 0;
  color: #838383;
  transform: rotate(0deg);
  transition: transform var(--transition-duration, 0.3s);
  position: absolute;
  top: 18px;
  right: 12px;
}

/* .............................................utility_pagination .........................................*/

.custom-pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 60px;
}

.custom-pagination .page-link {
  padding: 7px 12px;
  background-color: #f5f5f5;
  color: #898989;
  text-decoration: none;
  width: 42px;
  height: 42px;
  margin: 12px !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.custom-pagination .page-link:hover {
  color: white;
  background-color: var(--amber_200);
}

.custom-pagination .page-item .selected {
  background-color: var(--amber_200);
  color: white;
  font-size: 20px;
  font-weight: bold;
  z-index: 100;
}

.custom-pagination .btn-next,
.custom-pagination .btn-prev {
  display: none;
}

/* .............................................. Hall ....................................................*/

.hall-search-input {
  flex: 0.4;
  height: 50px;
  outline: none;
  color: black;
  text-indent: 17px;
  padding: 10px;
  margin-bottom: 25px;
  border: 2px solid var(--black_900);
  border-radius: 5px;
}

.hall-search-input-ar {
  flex: 0.4;
  height: 50px;
  direction: rtl;
  outline: none;
  color: black;
  text-indent: 17px;
  padding: 10px;
  font-size: 25px;
  margin-bottom: 25px;
  border: 2px solid var(--black_900);
  border-radius: 5px;
}

.carousel-control-prev-icon {
  background-image: url('../assets/images/arrow.svg');
  color: var(--amber_200) !important;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}

.carousel-control-next-icon {
  background-image: url('../assets/images/arrow.svg');
  color: var(--amber_200) !important;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.inputfield-hall {
  /* width:auto; */
  height: 55px;
  outline: none;
  display: block;
  text-indent: 17px;
  padding: 10px;
  margin-bottom: 25px;
  border: 2px solid #a1a1a1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.inputfield-hall::placeholder {
  color: #8e8e97;
  font-size: 20px;
  text-indent: 17px;
}

div.lmMaya {
  direction: rtl;
  width: 100%;
  outline: none;
  display: block;
  padding: 10px;
  margin-bottom: 25px;
  border: 2px solid #a1a1a1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-addhall {
  height: 65px;
  width: 100%;
  background-color: var(--amber_200);
  outline: none;
  color: var(--blue_gray_900);
  display: block;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 25px;
  border: 2px solid var(--white_A700_19);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.inputfield-hallacception {
  text-align: center;
  height: 54px;
  outline: none;
  display: block;
  font-weight: bold;
  font-size: 20px;
  color: #282938;
  text-indent: 17px;
  padding: 10px;
  margin-bottom: 25px;
  border: 2px solid #808080;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* .............................................. User ....................................................*/

.user-left-tabs {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: white;
}
.user-tab-item {
  width: 100%;
  height: 110px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 52px;
  color: var(--blue_gray_900_01);
  background-color: var(--white_A700);
}

.user-tab-item:hover {
  background-color: #1c1e53;
  color: white;
  font-weight: bold;
  font-size: 52px;
}

.user-two-tabs {
  display: none;
}

.user-one-tabs {
  border: 2px solid var(--blue_gray_900_a2);
  padding: 0px;
}

.inputfield-userprofile {
  height: 50px;
  width: 100%;
  outline: none;
  direction: ltr;
  display: block;
  text-indent: 17px;
  padding: 10px;
  margin-bottom: 25px;
  border: 2px solid #4f4f4f;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.inputfield-userprofile::placeholder {
  color: #8e8e97;
  font-size: 20px;
  text-indent: 17px;
}

/* .............................................. Contact US ................................................*/
.inputfield-contactus {
  height: 50px;
  width: 100%;
  outline: none;
  direction: ltr;
  display: block;
  text-indent: 17px;
  padding: 10px;
  margin-bottom: 25px;
  border: 2px solid white;
  color: var(--white_A700);
  background-color: #1c1e53;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.inputfield-contactus::placeholder {
  color: #8e8e97;
  font-size: 20px;
  text-indent: 17px;
}

/* .............................................. Footer ....................................................*/

.footer {
  background-color: var(--blue_gray_900_01);
  color: var(--white_A700);
  padding: 70px;
  direction: ltr;
  height: auto;
  width: auto;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.footer .link {
  font-family: 'Poppins';
  font-weight: medium;
  color: var(--amber_200);
  font-size: 18px;
  white-space: nowrap;
}

/* ................................................... responsive ................................................ */

/****** Auth ****/

@media (max-width: 500px) {
  .access {
    height: 100%;
    width: 165%;
    margin-top: 50px;
  }

  .access-img {
    display: none;
  }

  .access-inputs {
    width: 100%;
    height: 100%;
    background-color: #1c1e53;
    color: white;
    border-radius: 40px;
    padding: 60px;
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  .access {
    background-color: #777898;
    height: 100%;
    width: 100%;
    margin-top: 20px;
  }

  .access-img {
    display: none;
  }

  .access-inputs {
    width: 100%;
    height: 50%;
    background-color: #1c1e53;
    color: white;
    border-radius: 40px;
    padding: 60px;
  }
}

@media (min-width: 750px) and (max-width: 1000px) {
  .access {
    height: 100%;
    width: 100%;
    margin-top: 10px;
  }

  .access-img {
    width: 50%;
    height: 80%;
    margin-left: 20px;
  }

  .access-inputs {
    width: 63%;
    height: 60%;
    background-color: #1c1e53;
    color: white;
    border-radius: 40px;
    padding: 60px;
    margin-top: 20px;
    margin-left: -240px;
  }

  .access img {
    height: 110%;
    width: 200%;
  }
}

@media (min-width: 1000px) and (max-width: 1480px) {
  .access {
    background-color: #777898;
    height: 100%;
    width: 100%;
    /* margin:100px; */
  }

  .access-img {
    width: 50%;
    height: 80%;
    margin-top: 10px;
  }

  .access-inputs {
    width: 60%;
    height: 30%;
    background-color: #1c1e53;
    color: white;
    border-radius: 40px;
    padding: 60px;
    margin-left: -190px;
    margin-right: -20px;
  }

  .access img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1480px) {
  .access {
    background-color: #777898;
    height: 100%;
    width: 100%;
  }

  .access-img {
    width: 50%;
    height: 80%;
    margin-top: 10px;
  }

  .access-inputs {
    width: 50%;
    height: 30%;
    background-color: #1c1e53;
    color: white;
    border-radius: 40px;
    padding: 60px;
    margin-left: -190px;
    margin-right: -20px;
  }

  .access img {
    height: 100%;
    width: 100%;
  }
}

/****user tabs****/

@media (max-width: 400px) {
  .user-one-tabs {
    display: block;
  }
}

@media (max-width: 400px) {
  .user-two-tabs {
    display: none;
  }
}

/***** footer *****/
@media (max-width: 445px) {
  .footer-contact {
    display: none;
  }
}

/******** checkout *******/

.app-container {
  margin: 5% auto;
  width: 70%;
  overflow-y: scroll;
  overflow-x: scroll;
  /* height: 50%; */
  /* background: white; */
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}


/* .item-container .item-image img {
  height: 430px;
  width: 100%;
} */

.item-image {
  position: absolute;
  z-index: 1;
}

.item-details {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  margin-left: 20px;
}

.item-name {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.item-price {
  font-size: 25px;
  font-weight: 700;
  color: #0b8a6d;
}

.checkout {
  height: 430px;
  background: #2f2c33;
  color: white;
}

.checkout-container {
  padding: 35px 25px;
}

.input {
  padding: 5px 0;
}

.input label {
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  color: #78757c;
}

.input input {
  width: 100%;
  padding: 5px 10px;
  color: white;
  letter-spacing: 0px;
  font-size: 14px;
  background: 0;
  border: 0;
}

.input input:focus {
  outline: 0;
}

.input-field {
  border: 1px solid #78757c;
  border-radius: 5px;
  position: relative;
}

.input-field img {
  width: 25px;
  height: auto;
  position: absolute;
  right: 0;
  top: 5px;
  margin-right: 5px;
}

/* Removes form Controls  */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=month]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=month]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

.checkout-btn {
  background: linear-gradient(0deg, #019875, #029875);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin-top: 50px;
  color: white;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 1.5px;
  cursor: pointer;
}
/* Customize scrollbar appearance */
.app-container::-webkit-scrollbar {
  width: 17px; /* Width of scrollbar */
}

.app-container::-webkit-scrollbar-thumb {
  background-color:white 
}


.auth-dropdown-content {
  position:relative !important ;
}

/* Hallrating.css */
.star-ratings {
  display: inline-block;
  font-size: 0;
}

.star-ratings div {
  display: inline-block;
  margin: 0 2px; /* This will be overridden by the starSpacing prop */
}
